@use "variables";
@use "animations";
#header {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .pad {
    flex-grow: 1;
    flex-basis: 256px
  }

  .cover-image{
    flex-grow: 0;
    align-self: center;
    width: 1020px;
    height: 315px;
    object-fit: cover;
  }

  .return-to-main {
      transition: transform 0.3s;
      display: inline-block;
      width: 30px;
      height: 30px;
      fill: currentColor;
      vertical-align: middle;
      &:hover {
        font-weight: bold;
        transform: scale(1.4);
      }
  }

  .menu {
    flex-basis: 300px;
    flex-grow: 1;
    align-self: flex-start;
    font-family: 'Inter';

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 5px;
        @include animations.underline-from-center;

        a {
          color: variables.$main-colour;
          font-size: 18px;
        }
      }
    }
  }
}
@include variables.max-screen() {
  #header {
    .logo, .menu {
      display: none;
    }
    padding: 50px 0 0;
    text-align: center;
  }
}
