@use "variables";
$post-toc-margin-left: -400px !default;
$toc-max-sreen-width: 2 * 200px + $post-toc-margin-left !default;

.profile-link {
  display: inline-block; /* Make the anchor a block-level element */
  position: relative; /* Positioning context for absolute positioning */
  margin-top: -50px; /* Adjust the margin to shift the circle up */
}

.profile-container {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 110%;
    height: auto;
    display: block;
    transform: scale(2)
}

.post-toc {
  direction: ltr;
  position: absolute;
  width: 300px;
  margin-left: $post-toc-margin-left;
  padding: 10px;
  border-radius: 5px;
  background: hsla(0,0%,100%,0);
  box-shadow: 1px 1px 2px rgba(0,0,0,0);
  word-wrap: break-word;
  box-sizing: border-box;
  position: fixed;
  top: 40%;
  font-family: 'Inter', sans-serif;
  color: variables.$secondary-colour;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    gap: 20px;

  .toc-link{
      transition: transform 0.3s;
      &:hover {
        font-weight: bold;
        transform: scale(1.1);
      }
  }

  ul {
    margin-bottom: 5px;
  }

  li {
  margin-bottom: 5px;
    color: variables.$secondary-colour;
    .has-active{
      color: variables.$main-colour;
    }
  }

  .post-toc-title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: variables.$main-colour;
  }

  .post-toc-content {
    font-size: 15px;
    &.always-active ul {
      display: block;
    }

    >nav>ul {
      margin-bottom: 5px;
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;


      ul {
        padding-left: 15px;
        display: none;

      li {
        position: relative;
        padding-left: 20px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: variables.$secondary-colour;
        }

        &.has-active::before{
            background-color: variables.$main-colour;
        }

      }
      }

      .has-active > ul {
        display: block;
      }
    }

    .toc-link.active {
      color: variables.$main-colour;
    }
  }
}
@include variables.max-screen($toc-max-sreen-width) {
  .post-toc {
    display: none;
  }
}
